<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark bg-custom">
  <a class="navbar-brand" routerLink='/home'>
    <img src="https://image.ibb.co/n7oTvU/logo_white.png" width="30" height="30" class="d-inline-block align-top"
      alt="">
    FriendPipe
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/home'>
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li _ngcontent-ewk-c2="" class="nav-item" routerLink='/messenger'><a _ngcontent-ewk-c2="" class="nav-link" ><i
            _ngcontent-ewk-c2="" class="fa fa-envelope-o"><span _ngcontent-ewk-c2=""
              class="badge badge-warning ml-1">11</span></i> Messages </a></li>
    </ul>
    <ul class="navbar-nav ">
      <li _ngcontent-ewk-c2="" class="nav-item"><a _ngcontent-ewk-c2="" class="nav-link" href="#"><i
            _ngcontent-ewk-c2="" class="fa fa-user m-1"><span _ngcontent-ewk-c2=""
              class="badge badge-warning ml-1 "></span></i>{{this.userName}}</a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-danger my-2 my-sm-0" type="submit" (click)="logout()">LogOut</button>
    </form>
  </div>
</nav>