<div class="mesgs">
    <div class="msg_history" *ngFor="let message of ChatUser.messages">

        <div ngClass="message.isIncoming ? 'incoming_msg' : 'outgoing_msg'">
            <div ngClass="message.isIncoming? 'received_msg' : 'sent_msg'">
                <div ngClass="message.isIncoming? 'received_withd_msg' : ''">
                    <p>{{message.message}}</p>
                    <span class="time_date"> 11:01 AM | June 9</span>
                </div>
            </div>
        </div>


    </div>
    <div class="type_msg">
        <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" />
            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </div>
    </div>
</div>