<div class="card border-danger golge">

            <div class="card-header text-center" style="font-weight: bold;font-size: 19px">
              <a href="arkadaslar.html" target="_blank" class="isteColor">
                <h6><strong>Add to Friends</strong></h6>
              </a>
            </div>

            <div class="card-body p-1">
              <div class="carousel vert slide " id="carouselEx" data-ride="carousel" data-interval="2000">
                <div class="carousel-inner">
                  <div class="carousel-item active">

                    <div class="list-group">

                      <div class="list-group-item list-group-item-action align-items-start  mb-1 p-1">
                        <div class="d-flex justify-content-between align-items-center"  data-toggle="tooltip" title="Bilgisayar Mühendisi">
                          <img src="https://i.ibb.co/B3k89LJ/profile-2092113-960-720.png" class="img-arkadas">
                          <div class="flex-column mx-1">
                            <a href="#" class="text-dark"><small><strong>Serkan Başdağ</strong></small></a>
                          </div>
                          <button class="btn btn-dark fa-pull-right btn-block golge w-25 h-25 mx-1" type="button"><i
                              class="fas fa-user-plus"></i></button>
                        </div>
                      </div>

                      <div class="list-group-item list-group-item-action align-items-start  mb-1 p-1">
                        <div class="d-flex justify-content-between align-items-center" data-toggle="tooltip" title="Bilgisayar Mühendisi">
                          <img src="https://i.ibb.co/B3k89LJ/profile-2092113-960-720.png" class="img-arkadas">
                          <div class="flex-column  mx-1">
                            <a href="#" class="text-dark"><small><strong>Name Surname</strong></small></a>
                          </div>
                          <button class="btn btn-dark fa-pull-right btn-block golge w-25 h-25 mx-1" type="button"><i
                              class="fas fa-user-plus"></i></button>
                        </div>
                      </div>

                      <div class="list-group-item list-group-item-action align-items-start  mb-1 p-1">
                        <div class="d-flex justify-content-between align-items-center" data-toggle="tooltip" title="Makine Mühendisi">
                          <img src="https://i.ibb.co/B3k89LJ/profile-2092113-960-720.png" class="img-arkadas">
                          <div class="flex-column mx-1">
                            <a href="#" class="text-dark"><small><strong>Name Surname</strong></small></a>
                          </div>
                          <button class="btn btn-dark fa-pull-right btn-block golge w-25 h-25 mx-1" type="button"><i
                              class="fas fa-user-plus"></i></button>
                        </div>
                      </div>
                      <div class="list-group-item list-group-item-action align-items-start  mb-1 p-1">
                        <div class="d-flex justify-content-between align-items-center" data-toggle="tooltip" title="Bilgisayar Mühendisi">
                          <img src="https://i.ibb.co/B3k89LJ/profile-2092113-960-720.png" class="img-arkadas">
                          <div class="flex-column  mx-1">
                            <a href="#" class="text-dark"><small><strong>Name Surname</strong></small></a>
                          </div>
                          <button class="btn btn-dark fa-pull-right btn-block golge w-25 h-25 mx-1" type="button"><i
                              class="fas fa-user-plus"></i></button>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="carousel-item ">

                      <div class="list-group">
  
                        <div class="list-group-item list-group-item-action align-items-start  mb-1 p-1">
                          <div class="d-flex justify-content-between align-items-center" data-toggle="tooltip" title="Bilgisayar Mühendisi">
                            <img src="https://i.ibb.co/B3k89LJ/profile-2092113-960-720.png" class="img-arkadas">
                            <div class="flex-column  mx-1">
                              <a href="#" class="text-dark"><small><strong>Serkan Başdağ</strong></small></a>
                            </div>
                            <button class="btn btn-dark fa-pull-right btn-block golge w-25 h-25 mx-1" type="button"><i
                                class="fas fa-user-plus"></i></button>
                          </div>
                        </div>
  
                        <div class="list-group-item list-group-item-action align-items-start  mb-1 p-1">
                          <div class="d-flex justify-content-between align-items-center" data-toggle="tooltip" title="Bilgisayar Mühendisi">
                            <img src="https://i.ibb.co/B3k89LJ/profile-2092113-960-720.png" class="img-arkadas">
                            <div class="flex-column  mx-1">
                              <a href="#" class="text-dark"><small><strong>Name Surname</strong></small></a>
                            </div>
                            <button class="btn btn-dark fa-pull-right btn-block golge w-25 h-25 mx-1" type="button"><i
                                class="fas fa-user-plus"></i></button>
                          </div>
                        </div>

                        <div class="list-group-item list-group-item-action align-items-start  mb-1 p-1">
                          <div class="d-flex justify-content-between align-items-center" data-toggle="tooltip" title="Makine Mühendisi">
                            <img src="https://i.ibb.co/B3k89LJ/profile-2092113-960-720.png" class="img-arkadas">
                            <div class="flex-column mx-1">
                              <a href="#" class="text-dark"><small><strong>Name Surname</strong></small></a>
                            </div>
                            <button class="btn btn-dark fa-pull-right btn-block golge w-25 h-25 mx-1" type="button"><i
                                class="fas fa-user-plus"></i></button>
                          </div>
                        </div>
  
                        <div class="list-group-item list-group-item-action align-items-start  mb-1 p-1">
                          <div class="d-flex justify-content-between align-items-center" data-toggle="tooltip" title="Bilgisayar Mühendisi">
                            <img src="https://i.ibb.co/B3k89LJ/profile-2092113-960-720.png" class="img-arkadas">
                            <div class="flex-column  mx-1">
                              <a href="#" class="text-dark"><small><strong>Name Surname</strong></small></a>
                            </div>
                            <button class="btn btn-dark fa-pull-right btn-block golge w-25 h-25 mx-1" type="button"><i
                                class="fas fa-user-plus"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>