<!-- <div class="card border-danger golge">

  <div class="card-header text-center" style="font-weight: bold;font-size: 19px">
    <button (click)="findFriends()" target="_blank" class="btn btn-dark">Find Friends</button>
  </div>

  <div class="card-body p-1">
    <div class="carousel vert slide " id="carouselEx" data-ride="carousel" data-interval="2000">
      <div class="carousel-inner">
        <div class="list-group">

          <div *ngFor="let user of randomUsers" class="list-group-item list-group-item-action align-items-start  mb-1 p-1" >
            <div class="d-flex justify-content-between align-items-center">
              <img src="https://i.ibb.co/B3k89LJ/profile-2092113-960-720.png" class="img-arkadas">
              <div class="flex-column  mx-1">
                <a href="#" class="text-dark"><small><strong>{{user.name }}</strong></small></a>
              </div>
              <button class="btn btn-dark fa-pull-right btn-block golge w-25 h-25 mx-1" type="button">Follow</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row bg-light">
  <div class="col">
    <div class="user-widget-2">
      <ul class="list-unstyled">
        <li class="media" *ngFor="let user of randomUsers">
          <img class="rounded-circle d-flex align-self-center" src="https://bootdey.com/img/Content/avatar/avatar1.png"
            alt="">
          <div class="media-body">
            <h5>{{user.username}}</h5>
            <p>{{user.name}} {{user.surname}}</p>
          </div>
          <button class="btn btn-dark" (click)="follow(this.user.username)">Follow</button>
        </li>
      </ul>
    </div>
  </div>
</div>