<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Add Post:" [(ngModel)]="NewPost" name="newPost"
    aria-label="Add Post" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-dark" (click)="addPost()" type="button">Post</button>
  </div>
</div>
<h2 class="text-light">Posts</h2>
<div *ngFor="let post of Posts" class="p-2 jumbotron jumbotron-fluid rounded">
  <div class="container">
    <h3 class="lead">{{post.user}}</h3>
    <h2 class="display-4">{{post.content}}</h2>
    <p class="lead">{{post.postedDate}}</p>
    <p class="lead">
      <a class="btn btn-dark btn-lg " [routerLink]="['/post/detail', post.id]" role="button">Detail</a>
    </p>

  </div>
</div>